.device {
  margin: 2rem auto;
}
@media screen and (max-width: 320px) {
  .device {
    width: 50%;
    height: 400px;
    border: 1px solid red;
  }

  h2::before {
    color: #95158f;
    content: "Celular pequeño";
    text-align: center;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .device {
    width: 60%;
    height: 500px;
    border: 1px solid rgb(25, 0, 255);
  }

  h2::before {
    color: #951515;
    content: "Celular normal";
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .device {
    width: 70%;
    height: 500px;
    border: 1px solid rgb(9, 157, 21);
  }

  h2::before {
    color: #152095;
    content: "Tablet pequeña";
    text-align: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  .device {
    width: 80%;
    height: 500px;
    border: 1px solid rgb(9, 157, 21);
  }

  h2::before {
    color: #152095;
    content: "Tablet Normal";
    text-align: center;
  }
}

@media screen and (min-width: 961px) and (max-width: 1024px) {
  .device {
    width: 85%;
    height: 500px;
    border: 1px solid rgb(220, 187, 42);
  }

  h2::before {
    color: #090a14;
    content: "Portatiles";
    text-align: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1328px) {
  .device {
    width: 90%;
    height: 500px;
    border: 1px solid rgb(98, 42, 220);
  }

  h2::before {
    color: #090a14;
    content: "Escritorio";
    text-align: center;
  }
}

@media screen and (min-width: 1329px) {
  .device {
    width: 1000px;
    height: 500px;
    border: 1px solid rgb(98, 42, 220);
  }

  h2::before {
    color: #090a14;
    content: "Tamaño fijo";
    text-align: center;
  }
}
